.side-section {
    padding: 20px;
  }
  tr {
    border: 1px solid #dedede;
  }
  table {
      width: 100%;
      margin-top: 30px;
      border: 1px solid #dedede;
      border-radius: 20px;
  }
  th {
      background-color: #f0dc82;
      color: white;
      text-align: left;
      padding: 13px;
      border-bottom: 1px solid #daa520;
      padding: 10px; 
  }
  td {
      background-color: white;
      color: #daa520;
      text-align: left;
      padding: 13px;
      border: 1px solid #dedede;
  }
  img{
    padding-right: 5px;
  }
  .filter {
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #daa520;
    margin: 0;
    padding: 7px 0;
    padding-left: 20px;
    padding-right: 20px;
  }
