extends layout

block content
  h1= title
  p CRUD operations for manipulating properties and reservations

  p
    a(href="/properties") List all Properties
  p 
    a(href="/reservations/63742338e0b2fc027b9bb8e9") List all Reservations
